# Tests fail with numpy v2.0.4 py39 aarch64, pin here
numpy<2.0; (python_version <= "3.9" and platform_machine == "aarch64")
numpy; python_version > "3.9" or platform_machine != "aarch64"
h5py
deprecation
